[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Lyrebird
GenericName=Voice Changer
Icon=${SHARE_PATH}/icon.png
Exec=${BIN_PATH}/lyrebird
Path=${SHARE_PATH}/
Terminal=false
Categories=Audio;
