[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Lyrebird
GenericName=Voice Changer
Icon=/usr/local/bin/lyrebird/icon.png
Exec=python3 /usr/local/bin/lyrebird/app.py
Path=/usr/local/bin/lyrebird/
Terminal=false
Categories=Audio;